body {
  font-family: 'Roboto', serif;
  font-size: 18px;
}

span {
  color: #fc3e5b;
}

h1 {
  font-size: 80px;
  filter: drop-shadow(3px 3px #c0d5ff);
}

h2 {
  font-size: 50px;
  filter: drop-shadow(3px 3px #c0d5ff);
  background-color: white;
  padding: 15px;
}

/* COLORS */
.red {
  color: #fc3e5b;
}
.blue {
  color: #0018be;
}
.orange {
  color: #ffa500;
}

.row {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;

  margin: 0;
  width: 100%;
}

.jumbotron {
  background-color: white;
}

/* ABOUT */
.about {
  height: 120vh;
}
.about h4 {
  margin: 30px;
  font-family: 'Do Hyeon', sans-serif;
}
.about p {
  font-family: 'PT Sans', sans-serif;
}
.about .card {
  font-family: 'Open Sans', sans-serif;
  width: 18rem;
  height: 22rem;
  background-color: transparent;
  border: none;
}
.about .card .fas {
  font-size: 5em;
  color: #fc3e5b;
  filter: drop-shadow(5px 5px #c0d5ff);
}
.element {
position: absolute;
width: 100%;
bottom: 0;
}
.speech-bubble {
	position: absolute;
  bottom: 250px;
	background: white;
	border-radius: .4em;
  padding: 15px;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 0.906em solid transparent;
	border-top-color: white;
	border-bottom: 0;
	margin-left: -0.906em;
	margin-bottom: -0.906em;
}

/* SKILLS */
.skills {
  height: 80vh;
  font-family: 'PT Sans', sans-serif;
}
.skills h3 {
  font-family: 'Do Hyeon', sans-serif;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
}
.skills .jumbotron {
  background-color: transparent;
}
.skills table {
  width: 100%;
}
.skills td {
  color: white;
  font-size: 30px;
  line-height: 50px;
  filter: drop-shadow(3px 3px #c0d5ff);
}
.skills table .fish {
  text-align: right;
}

/* EXPERIENCE */
.experience {
  font-family: 'Do Hyeon', sans-serif;
  height: 80vh;
}
.experience .jumbotron {
  height: 320px;
  padding-top: 30px;
}
.experience p {
  text-align: left;
  font-size: 18px;
}
.experience i {
  font-size: 80px;
}

/* EDUCATION */
.education {
  font-family: 'Do Hyeon', sans-serif;
  height: 120vh;
}
.education i {
  font-size: 80px;
}

/* CONTACT */
.contact {
  height: 140vh;
}
.contact p {
  font-family: 'PT Sans', sans-serif;
  font-size: 0.8em;
}
.contact img {
  opacity: 1;
  width: 300px;
}
.contact img:hover {
  pointer-events: none;
  filter: none;
}
.contact i {
  font-size: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.contact i:hover {
  color: #fc3e5b;
}

/* REFERENCES */
.references {
  height: 70vh;
}
.references .card {
  width: 18rem;
}
.quote {
  font-family: 'Times New Roman', Times, serif;
  height: 210px;
}
.quote-detail {
  position: absolute;
  right: 30px;
  bottom: 15px;

  font-family: 'PT Sans', sans-serif;
  font-size: 0.8em;
  text-align: right;
  vertical-align: bottom;
}
.quote-detail p {
  margin: 0;
}
