body {
  font-family: 'Roboto', serif;
  font-size: 18px;
}

span {
  color: #fc3e5b;
}

h2 {
  font-size: 22px;
}

.fadeInDelay1 {
  animation-delay: 1.5s;
}

.fadeInDelay2 {
  animation-delay: 3s;
}

.fadeInDelay3 {
  animation-delay: 4.5s;
}

.fadeInDelay4 {
  animation-delay: 6s;
}

.fadeInDelay5 {
  animation-delay: 7.5s;
}

.container {
  position: absolute;
  z-index: 500;
  background-color: rgba(255, 255, 255, 0.7);
  /* border: 1px solid red; */
  top: 15%;
  width: 100%;
  height: 70%;
}

.content-box {
  position: absolute;
  top: 20vh;
  width: 100%;
  height: 60vh;

  display: flex;
  align-items: center;
}

.content-info {
  height: 100%;
  margin: 0 auto;
  margin-left: 50px;
}
