#section0 {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0;

  background: linear-gradient(#e1faff, white);
}

#section0 #clouds {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;

  background: url(assets/clouds-1.png), 
              url(assets/clouds-2.png),
              url(assets/clouds-3.png);

  background-repeat: repeat-x;

  background-position-y: 10%;

  animation: cloudScroll 150s linear infinite; 
 }

@keyframes cloudScroll {
  from {background-position-x: 0, 0, 0}  
  to {background-position-x: 2205px, 1470px, 735px}  
}

#section0 #ocean {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;

  background:   url(assets/ocean-1.png),
                url(assets/ship.png),
                url(assets/ocean-2.png),
                url(assets/ocean-3.png);

  background-repeat:  repeat-x,
                      no-repeat,
                      repeat-x,
                      repeat-x;

  background-position-y:  bottom,
                          65%,
                          75%,
                          72.5%;

  animation: oceanScroll 8s ease-in-out alternate infinite; 
 }

@keyframes oceanScroll {
  from {background-position-x: 0, 90%, 0, 0;}  
  to {background-position-x: 300px, 100%, 200px, 100px;}  
}
