#section0 {
    border: solid 3px red;
}

#section0 #ocean {
    background:   url(assets/ocean-1.png),
                  url(assets/ship.png),
                  url(assets/ocean-2.png),
                  url(assets/ocean-3.png);

    background-repeat:  repeat-x,
                        no-repeat,
                        repeat-x,
                        repeat-x;

    background-position-y:  bottom,
                            60%,
                            75%,
                            72.5%;

    animation: backgroundScroll 8s ease-in-out infinite alternate;  
    animation-direction: alternate;
    height: 100%;
 }

/*#section0 #ocean1 {
    background: url(assets/ocean-1.png);
    background-repeat: repeat-x;
    background-position: center bottom;
    animation: backgroundScroll 20s linear infinite;  
    height: 100%;
 }

 #section0 #ocean2 {
  background: url(assets/ocean-2.png);
  background-repeat: repeat-x;
  background-position: center center;
  animation: backgroundScroll 20s linear infinite;
  height: 100%;
 }*/

@keyframes backgroundScroll {
from {background-position-x: 0, 90%, 0, 0;}  
to {background-position-x: 400px, 100%, 250px, 100px;}  
}