#section0 {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0;

  background: linear-gradient(#e1faff, white);
}

#section0 #clouds {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;

  background: url(assets/clouds-1.png), 
              url(assets/clouds-2.png),
              url(assets/clouds-3.png),
              linear-gradient(white, white);

  background-repeat: repeat-x;

  background-position:  center top 20px,
                        center top 20px,
                        center top 20px,
                        center top 300px;

  animation: cloudScroll 150s linear infinite; 
 }

@keyframes cloudScroll {
  from {background-position-x: 0, 0, 0}  
  to {background-position-x: 800%, 400%, 200%}  
}

#section0 #ocean {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;

  background: url(assets/ocean-1.png),
              url(assets/ship.png),
              url(assets/ocean-2.png),
              url(assets/ocean-3.png);

  background-repeat:  repeat-x,
                      no-repeat,
                      repeat-x,
                      repeat-x;

  background-position:  center bottom,
                        right bottom 150px,
                        center bottom 70px,
                        center bottom 90px;

  animation: oceanScroll 8s ease-in-out alternate infinite; 
 }

@keyframes oceanScroll {
  from {background-position-x: 0, 85%, 0, 0;}  
  to {background-position-x: -50%, 95%, -35%, -20%;}  
}

#section0 #scroll {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;

  background: url(assets/scroll-icon.gif);

  background-repeat: no-repeat;

  background-position: center bottom 30px;
}
