#section4 .earth {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;

  background: url(assets/ocean-1.png),
              url(assets/ocean-2.png),
              url(assets/earth.png);

  background-repeat:  repeat-x,
                      repeat-x,
                      repeat-x;

  background-position:  center bottom -100px,
                        center bottom -70px,
                        center bottom 50px;

  animation: earthScroll 8s ease-in-out alternate infinite; 
 }

@keyframes earthScroll {
  from {background-position-x: 0, 0, 0;}  
  to {background-position-x: 20%, 10%, -2%;}  
}

.event-container {
  position: absolute;
  height: 15%;
  width: 70%;
  z-index: 2;

  top: 40%;
  left: 15%;

}

.event {
  float: left;
  height: 100%;
  width: 20%;
}

.event img {
  display: block;
  margin: auto;

  transition: all 0.3s ease;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.event img:hover {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.event-content {
  position: absolute;
  top: 15%;
  left: 30%;

  width: 40%;
  height: 20%;

  border: 1px solid red;

  text-align: center;

  display: none;
}
