html, body {
  margin: 0;
  height: 100%;
  background-color: #dbf9ff;
}

#scene {
  height: 100%;
  width: 100%;
}

.clouds {
  position: absolute;
  height: 100%;
  width: 100%;

  background: url(assets/background/clouds-1.png),
              url(assets/background/clouds-2.png),
              url(assets/background/clouds-3.png);
  background-repeat: repeat-x;
  background-position:  center top;
  background-size: 120%;

  /* animation: windy 40s linear infinite; */
 }

@keyframes windy {
  from {background-position-x: 0, 0, 0}
  to {background-position-x: -450%, -300%, -150%}
}

.ocean {
  position: absolute;
  height: 100%;
  width: 100%;

  background: url(assets/background/ocean-1.png),
              url(assets/background/ocean-2.png),
              url(assets/background/earth.png);
  background-repeat:  repeat-x;
  background-position:  center bottom;
  background-size: 120%;

  /* animation: waves 10s ease-in-out alternate infinite; */
 }

@keyframes waves {
  from {background-position-x: 0%, 0%, 0}
  to {background-position-x: -80%, 60%, 0}
}
