html, body {
  margin: 0;
  height: 100%;
}

.clouds {
  position: absolute;
  height: 100%;
  width: 100%;

  background: url(assets/background/clouds-1.png),
              url(assets/background/clouds-2.png),
              url(assets/background/clouds-3.png);
  background-repeat: repeat-x;
  background-position:  center top;
  background-size: 120%;

  animation: windy 40s linear infinite;
 }

.ocean {
  position: absolute;
  height: 100%;
  width: 100%;

  background: url(assets/background/ocean-1.png),
              url(assets/background/ocean-2.png),
              url(assets/background/earth.png);

  background-repeat:  repeat-x;
  background-position:  center bottom;
  background-size: 120%;

  animation: waves 10s ease-in-out alternate infinite;
 }

 .deep-ocean {
   background-image: linear-gradient(to bottom,
       #dbf9ff 100vh,
       #0066cc 100%
   );
   background-position: 0px 0px;
   background-repeat:   no-repeat;
 }

 .scroll {
   filter: drop-shadow(3px 3px #c0d5ff);
 }
