#wrapper {
	width: 960px;
	margin: 0 auto;
	border: 1px solid red;
	position: relative;
}

body {
	background: #FFDADA;
	font-family: "Andale Mono", monospace;
}

main {
	width: 95%;
	margin-left: 3%;
}

a:hover {
    color: orange;
}

a:active {
	color: magenta;
}

/* INDEX */
#rabbit-banner {
	border: 3px solid #FFAAA2;
	border-radius: 30px;
	padding: 5px;
	display: block;
	width: 500px;
	margin: auto;
}

#navigation {
	width: 22%;
 	border: 2px dotted #FFAAA2;
	border-radius: 30px;
	background-color: white;
	position: absolute;
	left: 60px;
	top: 275px;
}

.content {
	padding: 1%;
	border: 2px dotted #FFAAA2;
	border-radius: 30px;
	background-color: white;
	width: 420px;
	height: 225px;
	margin: 2px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	overflow-y: scroll;
}


img#nav-shrub {
	border-radius: 5px;
	margin-left: -5%;
	margin-right: -5%;
	margin-bottom: -6%;
}

img.shrub {
	border-radius: 5px;
	margin-bottom: -2%;
}

h1 {
	font-size: 5em;
	text-align: center;
}

h2, h3, h4, h5 {
	margin: 0 auto;
}

footer {
	text-align: center;
	font-size: .8em;
	font-family: 'Avant Garde', sans-serif;
}

@media screen and (max-width: 500px) {
	body {
		font-size: .8em;
		width: 100%;
	}
}

	


/* ARTWORK */

/* MUSIC */

/* ABOUT */