#wrapper {
	width: 960px;
	margin: 0 auto;
	border: 1px solid red;
	position: relative;
}

body {
	background: #FFDADA;
	font-family: "Andale Mono", monospace;
}

main {
	width: 95%;
	margin-left: 3%;
}

/* INDEX */
#rabbit-banner {
	border: 3px solid #FFAAA2;
	border-radius: 30px;
	padding: 5px;
	display: block;
	width: 500px;
	margin: auto;
}

#navigation {
	width: 22%;
 	border: 2px dotted #FFAAA2;
	border-radius: 30px;
	background-color: white;
	position: absolute;
	left: 60px;
	top: 275px;
}

.content {
	padding: 1%;
	border: 2px dotted #FFAAA2;
	border-radius: 30px;
	background-color: white;
	width: 425px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}


img#nav-shrub {
	border-radius: 5px;
	margin-left: -5%;
	margin-right: -5%;
	margin-bottom: -6%;
}

img.shrub {
	border-radius: 5px;
	margin-bottom: -2%;
}

h1 {
	font-size: 5em;
	text-align: center;
}

h2, h3, h4, h5 {
	margin: 0 auto;
}


/* ARTWORK */

/* MUSIC */

/* ABOUT */